header {
  /*background-image: url('http://content.mycutegraphics.com/backgrounds/birthday/happy-birthday-ice-cream-cone-background.gif');
  background-size: cover;
  height: 500px;
  flex-direction: column;
  justify-content: center;*/
}

.hero {
  background-image: url(img/hero.jpg);
  background-size: cover;
  height: 300px;
  flex-direction: column;
  justify-content: center;
}

.box {
   height: 50px;
   flex-direction: column;
   /*justify-content: center;*/
}

.para {
  font-size: small;

}

.art {
  height: 200px;
  margin: 10px 150px 10px;
  text-align: left;
}

.lft-mar {
  /*margin: 0px 0px 50px 100px;*/
  margin-left: 10px;
}

i {
  vertical-align: bottom;
}

.orderMain {
  height: 1025px;
}

.textAlignRt {
  text-align: right;
}

.textAlignLft {
  text-align: left;
}

.myBoarder {
  display: block;
  border: 1px dashed black;
}
